.header{
  background-color: var(--header-background-color);
  padding: 22px 32px 22px 32px;
  display: flex;
  justify-content: space-between
}
.image{
  width: 25px;
  height: 25px;
}
.header-text{
  color: var(--white-color);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  cursor: pointer;
}
.circle{
  width: 10px;
  height: 10px;
  padding: 0 32px 0 32px;
}
.header-info{
  background-color: var(--light-gray-color);
  padding-left: 255px;
  padding-top: 70px;
  
}
.header-title{
  font-family: 'Koh Santepheap';
  font-weight: 400;
  font-size: 64px;

}